.AdminTable{
background-color: #ffffff;
border-radius: 1.5em;
padding: 1.5em 1em;
font-size: 1em;
}
.header{
    width: calc(100% - 3em);
    margin: auto;
    margin-bottom: 2em;
    flex-wrap: wrap;
}
.header button{
    font-size: 1em;
    font-weight: 400;
    color: #ffffff;
    background-color: #0B3A4E;
    border-radius: 1.5em;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    border: none;
}
.AdminTable table{
    width: 100%;
}
.AdminTable table thead tr{
    border-bottom: 1px solid #C1C3C2;
}
.AdminTable table th{
    color: #848885;
    font-size: 1em;
    font-weight: 400;
    padding: 1em 0;
}
.AdminTable table td{
    color: #202422;
    font-size: 1em;
    font-weight: 400;
    padding: 0.5em 0;
    margin-top: 1em;
}
.AdminTable table td:nth-child(2) img{
    width: 3.75em;
}
.AdminTable table tbody tr {
    border-bottom: 0.625em solid #fff;
}
.AdminTable table>tbody>tr.active td{
    background-color: #F4F5F4;
}
.AdminTable table>tbody>tr.active>td:first-child{
    background-color: #ffffff;
}
.AdminTable table>tbody>tr:first-child>td:nth-child(2){
    border-radius: 0.5em 0 0 0.5em;
}
.AdminTable table>tbody>tr>td:nth-child(3) input{
    background-color: #ffffff;
    border-radius: 0.5em;
    padding: 0.5em;
    border: none;
    outline: none;
} 
.AdminTable table>tbody>tr>td:nth-child(3) span{
    cursor: pointer;
}
.AdminTable table>tbody>tr:first-child>td:last-child{
    border-radius:  0 0.5em 0.5em 0;
}
.ResetBtn{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #F4F5F4;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1em;
}
.ResetBtn img{
    width: 1em;
}
.circle{
    width: 1.75em;
    height: 1.75em;
    background-color: #5DE68F;
    border-radius: 50%;
    
}
/* Checkbox */
.AdminTable .containerCheckbox {

    position: relative;
    padding-left: 20px;
    padding-right: 15px;
    top: -14px;
    right: -7px;
    color: rgb(51, 51, 51);
    font-weight: 600;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 1em;

}

/* .AdminTable .containerCheckbox.todo-list-text {
    color: rgb(102, 102, 102);
    font-weight: 500;
    font-size: 1.1em;
} */

.AdminTable .containerCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.AdminTable .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #F4F5F4;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 4px;
}

.AdminTable .containerCheckbox:hover input~.checkmark {
    background-color: #5DE68F;
    border-color: #5DE68F;
}

.containerCheckbox input:checked~.checkmark {
    background-color: #5DE68F;
    border-color: #5DE68F;
}

.AdminTable .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.AdminTable .containerCheckbox input:checked~.checkmark:after {
    display: block;
}

.AdminTable .containerCheckbox .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.AdminTable .rolleCheckbox{
    right: 0px;
}
.AdminTable .rolleCheckbox .checkmark{
    border: 2px solid #0B3A4E;
    background-color: #0B3A4E;
}

.AdminTable .rolleCheckbox:hover input~.checkmark {
    background-color: #ffffff;
    border-color: #0B3A4E;
}

.rolleCheckbox input:checked~.checkmark {
    background-color: #ffffff;
    border-color: #0B3A4E;
}
.AdminTable .rolleCheckbox .checkmark:after{
    border: solid #0B3A4E;
    border-width: 0 2px 2px 0;
}
/* Checkbox end */
.chartBox{
    background-color: #ffffff;
    border-radius: 1em;
    padding: 1em;
}
.chartBox h1{
    color: #202422;
    font-size: 1.75em;
    font-weight: 700;
    margin-bottom: 1em;
}
.chartBox h2{
    color: #0B3A4E;
    font-size: 3.25em;
    font-weight: 700;
    margin-bottom: 0.2em;
}
.chartBox h6{
    color: #848885;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 0.5em;
}
.chartBox h5{
    color: #202422;
    font-size: 1.8125em;
    font-weight: 700;
    margin-bottom: 0.2em;
}
@media screen and (max-width: 1600px) {
    .Admin{
        font-size: 0.9em;
    }
  }
  @media screen and (max-width: 1400px) {
    .Admin{
        font-size: 0.7em;
    }
  }