.Blog{
    font-size: 1em;
}
.Goal{
    font-size: 0.8em;
}
.changeLayoutBtn{
    background-color: #ffffff;
    width: 100%;
    
    max-width: 7em;

    margin-left: auto;
    padding: 0.7em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2em;
    font-size: 1em;
}
.changeLayoutBtn button{
    border: none;
    background-color: #ffffff;
}
.filter{
    background-color: #ffffff;
    border-radius: 1.5em;
    padding: 2.5em;
    font-size: 1em;
    margin-top: 1em;

}
.filter h3{
    color: #848885;
    font-size: 1.3125em;
    font-weight: 500;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.filter .containerCheckbox {

    position: relative;
    color: rgb(51, 51, 51);
    font-weight: 400;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 1em;
    padding-left: 3em;

}

.filter .containerCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.filter .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #F4F5F4;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 4px;
}

.filter .containerCheckbox:hover input~.checkmark {
    background-color: #5DE68F;
    border-color: #5DE68F;
}

.containerCheckbox input:checked~.checkmark {
    background-color: #5DE68F;
    border-color: #5DE68F;
}

.filter .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.filter .containerCheckbox input:checked~.checkmark:after {
    display: block;
}

.filter .containerCheckbox .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
@media screen and (max-width: 1600px) {
    .Blog,.changeLayoutBtn,.filter{
        font-size: 0.8em;
    }
    .Goal{
        font-size: 0.6em;
    }
  }
@media screen and (max-width: 1400px) {
    .Blog,.changeLayoutBtn,.filter{
        font-size: 0.6em;
    }
    .Goal{
        font-size: 0.5em;
    }
  }