.form{
    overflow-x: hidden;
}
.form .backLink {
    color: #848885;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    
}

.form .backLink img {
    margin-right: 0.6em;
}

/*.sideImage {*/
/*    overflow: hidden;*/
/*}*/

.form .mainHeading {
    color: #202422;
    font-size: 2em;
    font-family: berline-demi-bold;
    font-weight: 600;
    margin-top: 3em;
}

.form .mainText {
    color: #848885;
    margin-top: 0.8em;
}

.form .formInput {
    position: relative;
    margin-bottom: 1.5em;
}


.form .formInput .inputIcon {
    position: absolute;
    top: 13px;
    left: 16px;
    border-right: 1px solid #F4F5F4;
    padding-right: 0.7em;
}

.form .commonInput {
    background-color: white;
    border: none;
    padding: 0.8em 0.8em 0.8em 4em;
    width: 100%;
    border-radius: 0.7em;
    color: #848885;
    outline: none;
}


.form textarea.commonInput {
    resize: none;
    padding: 0.8em 1em;
}

.form .commonInput::placeholder {
    color: #848885;
    font-size: 0.9em;
}

.form .switch {
    vertical-align: middle;
    margin-left: 1em;
}

.form .formBtn {
    background-color: #5DE68F;
    padding: 1.3em 5em;
    border-radius: 0.7em;
    color: white;
    font-size: 1em;
    border: none;
    display: inline-block;
    text-decoration: none;
    margin-top: 2em;
    cursor: pointer;
    outline: none !important;
}

.form .subHeading {
    font-size: 1.1em;
    color: #202422;
    font-weight: 500;
    margin-right: 1.5em;
    display: inline-block;
}

.form .userInfo {
    display: flex;
    align-items: center;
    background: white;
    padding: 1em;
    border-radius: 0.7em;
    width: 100%;
    max-width: 26em;
    cursor: pointer;
}

.form .userInfo .imageSide {
    position: relative;
    margin-right: 1.5em;
    width: 5.125em;
    height: 5.125em;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: rgba(0, 0, 0, 0.7);*/
}

.form .userInfo .imageSide>img {
    position: absolute;
    color: white;
    z-index: 2;

}

.form .userInfo .imageSide>img:nth-child(2) {
    width: 5.125em;
    height: 5.125em;
    border-radius: 50%;
    object-fit: cover;
    z-index: 0;
}


.form .userInfo .imageSide .darkOverlay {
    width: 5.125em;
    height: 5.125em;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}


.sideImage>div:first-child>img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.joinSelect {
    cursor: pointer;
    margin-top: 3em;
}

.socialLogin {
    margin-top: 2em;
}

 @media (max-width: 768px) {
     .sideImage>div:first-child {
         display: none !important;
     }
     .form .mainHeading {
        margin-top: 1em;
    }
 }
