.Events{
    font-size: 1em;
    padding: 0em 1.1em;
}
.Events h1{
    font-size: 1.75em;
    font-weight: 700;
    color: #202422;
    margin: 0;
    margin-right: 1em;
}
@media screen and (max-width: 1800px) {
    .Events{
        font-size: 0.8em;
    }
  }
@media screen and (max-width: 1600px) {
    .Events{
        font-size: 0.7em;
    }
  }
@media screen and (max-width: 1400px) {
    .Events{
        font-size: 0.6em;
    }
  }