@font-face {
    font-family: berlin-regular;
    src: url(./fonts/BerlinSansFBRegular2.ttf);
  }
  @font-face {
    font-family: berline-demi-bold;
    src: url(./fonts/BerlinSansFBDemiBold.ttf);
  }