/* Mid Sextion */
.midSection {
    background-color: #202422;
    color: white;
    padding: 4em 0;
    text-align: center;
    font-size: 1em;
}

.midSection .mainHeading {
    font-size: 2.333125em;
    font-family: berline-demi-bold;
    font-weight: 600;
    margin-bottom: 0.7em;
}

.midSection .mainText {
    font-size: 1.3125em;
}

.midSection .searchInput {
    padding: 0.7em 1em;
    width: 100%;
    max-width: 20.625em;
    border-radius: 0.4em 0 0 0.4em;
    border: none;
    outline: none;
    font-size: 1em;
}

.midSection .searchInput::placeholder {
    color: #848885;
}

.midSection .sendBtn {
    background-color: #5DE68F;
    width: 100%;
    max-width: 11.875em;
    padding: 1.1em 1em;
    border-radius: 0 0.4em 0.4em 0;
    outline: none !important;
    color: white;
    font-size: 1.3125em;
    border: none;
    text-align: left;
    cursor: pointer;
}

.midSection .sendBtn img {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    padding-right: 0.8em;
    font-size: 1.2em;
}

.midSection .sendBtn span {
    display: inline-block;
    margin-left: 1.5em;
}

.midSection .searchArea {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 39.0625em;
    margin: auto;
    margin-top: 2.5em;
}
/* Footer */
.mainFooter {
    padding: 5em 0;
    font-size: 1em;
}

.mainFooter .mainHeading {
    color: #202422;
    font-family: berline-demi-bold;
    font-size: 1.75em;
    font-weight: 600;
    display: inline-block;
    margin-right: 3em;
}

.mainFooter .socialLink {
    background-color: #0B3A4E;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid #0B3A4E;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5em;
}
/* 
.mainFooter .socialLink:hover {
    color: #0B3A4E;
    background-color: white;
    border: 1px solid #0B3A4E;
} */

.mainFooter .linksLabel {
    color: #848885;
    font-weight: 600;
    font-size: 1.3125em;
}

.mainFooter .footerLink {
    display: block;
    color: #848885;
    font-size: 1.3125em;
    font-weight: 400;
    margin-top: 1.5em;
}

.mainFooter .smText {
    font-size: 1em;
    font-weight: 400;
    color: #848885;
    line-height: 2em;
    width: 100%;
    max-width: 19em;
}

.mainFooter .footerInput {
    width: 100%;
    padding: 0.5em 0.8em;
    border-radius: 0.4em;
    border: 2px solid #F4F5F4;
    outline: none;
    margin: 2em 0 1.5em 0;
    font-size: 1.25em;
}

.mainFooter .footerInput::placeholder {
    color: #848885;
}

.mainBtn {
    background-color: #0B3A4E;
    color: white;
    padding: 1em 2.5em;
    border-radius: 0.4em;
    display: inline-block;
    outline: none !important;
    border: none;
    font-size: 1.25em;
    cursor: pointer;
}
.customContainer{
    margin: 0 10em;
}
@media screen and (max-width: 1860px) {
    .midSection,
    .mainFooter{
        font-size: 0.8em;
    }
  }
@media screen and (max-width: 1600px) {
    .midSection,
    .mainFooter{
        font-size: 0.7em;
    }
  }
  @media screen and (max-width: 1400px) {
    .midSection,
    .mainFooter{
        font-size: 0.65em;
    }
  }