.goal {
    background-color: white;
    border-radius: 0.5em;
    margin-bottom: 7em;
    overflow: hidden;
}

.goal .contentSide {
    padding: 3em 1em 3em 5.3em;
}

.goal .grayBorder {
    color: #0B3A4E;
    display: inline-block;
    border: 1px solid #F4F5F4;
    padding: 0.4em 0.6em;
    border-radius: 0.6em;
    text-decoration: none;
    margin-right: 0.2em;
}

.goal .grayBorder .smImage {
    vertical-align: middle;
}

.goal .edit {
    background-color: #F4F5F4;
    text-decoration: none;
    display: inline-block;
    padding: 0.6em 1.2em;
    border-radius: 2em;
    color: #848885;
}

.goal .edit img {
    vertical-align: middle;
    margin-right: 0.4em;
}

.goal .contentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.goal .mainHeading {
    font-family: berline-demi-bold;
    font-weight: 600;
    margin-top: 0.4em;
    font-size: 3em;
    width: 14em;
}

.goal .mainText {
    color: #848885;
    line-height: 2em;
    font-size: 1.1em;
    margin-top: 1.5em;
    width: 100%;
}

.goal .greenBtn {
    background-color: #5DE68F;
    padding: 1.1em 2em;
    border-radius: 0.8em;
    color: white;
    font-size: 1.3em;
    font-weight: 500;
    border: none;
    display: inline-block;
    text-decoration: none;
    margin-top: 2em;
    outline:none;
}
.goal .grayBtn{
    background-color: #C1C3C2;
    padding: 1.1em 2em;
    border-radius: 0.8em;
    color: white;
    font-size: 1.3em;
    font-weight: 500;
    border: none;
    display: inline-block;
    text-decoration: none;
    outline:none;
}
.goal .event {
    color: #0B3A4E;
    margin-top: 2em;
    font-size: 1em;
    font-weight: 500;
    display: flex;
}

.goal .event img {
    vertical-align: bottom;
    margin-right: 0.5em;
}
.externalLink{
    width: 2.3125em;
    height: 2.3125em;
    padding: 0.5em;
    border-radius: 50%;
    border: none;
    background-color: #F4F5F4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5em;
    outline:none;
    
}
.coverBg{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 @media (max-width: 768px) {

.coverImage{
    display: none;
}
.goal .contentSide{
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

.goal .mainText {
    font-size: 1.3em;

}

.coverBg{
    display: block;
}
.goal .event,
.goal .mainText,
.goal .mainHeading,
.goal .contentSide{
    color: #ffffff;
}
.goal .grayBorder{
    background-color: #F4F5F4;
}
 }
/* Media Quries */
/* @media (max-width: 768px) {
    .goal .contentSide {
        padding: 2em;
    }

    .goal .mainHeading {
        font-size: 1.7em;
    }

    .goal .contentHeader {
        display: block;
    }

    .goal .edit {
        margin-top: 1em;
    }

    .goal .mainText {
        padding-right: 0;
    }
} */