.Header{
    background-color: #ffffff;
    border-radius: 1em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.3em;
    margin-bottom: 1.5em;
}
.Header a{
    color: #C1C3C2;
    font-size: 1.2em;
    font-weight: 400;
    margin: 0 0.5em;
    cursor: pointer;
}
.Header .active{
    color: #9EF0BC;
}
.Header .actionBtn{
    background-color: #F4F5F4;
    border-radius: 2em;
    padding: 0.7em 1em 0.7em 1.5em;
    font-size: 1em;
    font-weight: 400;
    color: #848885;
    border: none;
    margin: 0 0.5em;
}
.Header .actionBtn img{
    margin-right: 1em;
}

.menu {

}