.ProjectCard{
    padding: 1em;
    background-color: #ffffff;
    border-radius: 1.5em;
    display: flex;
    align-items: center;
    width: 30em;
    margin-bottom: 1em;
    margin-left: 1em;
    font-size: 1em;
}
.ProjectCard>img{
    object-fit: cover;
    margin-right: 1em;
    border-radius: 1.5em;
    width: 11.25em;
    height: 11.25em;
}

.BlogCard{
    padding: 1em;
    background-color: #ffffff;
    border-radius: 1.5em;
    display: flex;
    align-items: center;
    width: 38em;
    margin-bottom: 1em;
    margin-left: 1em;
    font-size: 1em;
}

.BlogCard>img{
    object-fit: cover;
    margin-right: 1em;
    border-radius: 1.5em;
    width: 11.25em;
    height: 11.25em;
}

 @media (max-width: 768px) {
     .ProjectCard {
         width: 38em;
     }
     .BlogCard {
         width: 33em;
     }
 }
.cardContent>div:first-child div{
    background-color: #BDD6D8;
    color: #0B3A4E;
    border-radius: 0.5em;
    font-size: 1em;
    font-weight: 400;
    padding: 0.1em 0.7em;
    margin: 0 0.2em;
}
.cardContent>div:first-child div img{
    margin: 0 0.1em;
}
.cardContent>div:first-child div span{
    margin-left: 0.2em;
}
.cardContent>div:first-child{
    margin-bottom: 1em;
}
.cardContent h1{
    font-size: 1.75em;
    font-weight: 400 !important;
    color: #202422;
    margin: 0;
    margin-right: 1em;
    font-family: "berlin-regular", sans-serif;
}
.cardContent p{
    margin:0;
    color: #C1C3C2;
    font-size: 1em;
    font-weight: 400;
    display: flex;
    align-items: center;

}

.cardContent .date{
    margin: 1em 0;
}
.cardContent .address{
    margin: 0.2em 0;
}
.cardContent .project{
    margin: 0.2em 0;
}
.cardContent p img{
    margin-right: 0.3em;
    width: 0.9375em;
}
