.Projects{
    font-size: 1em;
}
.yourProject{
    border-radius: 1.5em;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2em 1.5em;
}
.Projects h1{
    font-size: 1.75em;
    font-weight: 700;
    color: #202422;
    margin: 0;
}

.Projects button{
    font-size: 1.3em;
    font-weight: 500;
}
.yourProject button{
    padding: 1.2em 2.1em;

}
.yourProject button img{
    width: 1.3125em;
}
@media screen and (max-width: 1860px) {
    .Projects{
        font-size: 0.8em;
    }
  }
@media screen and (max-width: 1600px) {
    .Projects{
        font-size: 0.7em;
    }
  }
  @media screen and (max-width: 1400px) {
    .Projects{
        font-size: 0.55em;
    }
  }