.ProjectDetail{
    font-size: 1em;
    padding: 0em 2.1em;
}
.ProjectDetail h1{
    font-size: 1.75em;
    font-weight: 700;
    color: #202422;
    margin: 0;
    margin-right: 1em;
}
.ProjectDetail h1+a{
    color: #0B3A4E;
    font-size: 1em;
    font-weight: 400;
}

@media screen and (max-width: 1600px) {
    .ProjectDetail{
        font-size: 0.7em;
    }
  }
@media screen and (max-width: 1400px) {
    .ProjectDetail{
        font-size: 0.6em;
    }
  }
@media screen and (max-width: 768px) {
    .ProjectDetail{
        padding: 0em 1em;
    }
  }