.Sidebar{
    background-color: #FFFFFF;
    padding: 3em 1em 1em 1em;
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1em;
    transition: 200ms all ease-in-out;
}
.Sidebar h1{
    font-size: 1.333125em;
    color: #202422;
    text-align: center;
    margin-bottom: 2.5em;
}
.links{
    width: 210px;
}
.links a{
font-size: 1em;
font-weight: 400;
color: #C1C3C2;
display: flex;
align-items: center;
padding: 1.2em 1em;
text-decoration: none;
width: 100%;
}
.links a img{
    margin-right: 1em;
filter: invert(86%) sepia(7%) saturate(55%) hue-rotate(98deg) brightness(91%) contrast(88%);
}

.user_profile{
    align-self: flex-start;
}

.user_profile img{
    width: 4em;
    height: 4em;
    object-fit: cover;
    border-radius: 50%;
}

.user_profile>div:first-child{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #BDD6D8;
    overflow: hidden;
    margin-bottom: 0.5em;
}
.user_profile h5{
    font-size: 1em;
    color: #202422;
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 21px;
}
.user_profile p{
    font-size: 1em;
    color: #C1C3C2;
    font-weight: 500;
    margin-bottom: 0.5em;
    line-height: 21px;
}
.SidebarBtn{
    display: none;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: #202422;
    border: none;
    border-radius: 50%;
    width: 156px;
    height: 156px;
    position: fixed;
    bottom: -6em;
    left: -6em;
    z-index: 1;
    transition: 200ms all ease-in-out;
}
.SidebarBtn:hover{
    background-color: #5DE68F;
    box-shadow: 0px 0px 5px #5DE68F;
}
.SidebarBtn img{
    margin: 1.8em 1.5em 0 0;
}
@media screen and (max-width: 1600px) {
    .Sidebar{
        font-size: 0.9em;
    }
  }
  @media screen and (max-width: 1400px) {
    .Sidebar{
        font-size: 0.7em;
    }
  }
  @media screen and (max-width: 1000px) {
    .Sidebar{
        position: absolute;
        transform: translate(-100%);
        z-index: 5;
        top: 0;
        bottom: 0;
    }
    .SidebarBtn{
        display: flex;
    }
  }