.SmallCard{
    background-color: #FFFFFF;
    border-radius: 0.625em;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 1em;
    padding: 0.6em 0.5em;
    width: 100%;
    max-width: 23.7375em;
    margin-bottom: 1em;
}
.SmallCard>img:nth-child(1){
    position: absolute;
    top: 0;
    right: 0;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
}

.tooltip{
    background-color: #5DE68F;
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
    border-radius: 0.5em;
    padding: 0.3em;
    position: absolute;
    left: 24em;
    right: auto;
    top: 0;
    bottom: auto;
    z-index: 5;
    opacity: 0;
    transition: 200ms all ease-in-out;
}
.SmallCard>img:nth-child(1):hover + .tooltip{
    opacity: 1;
}
.SmallCard>img:nth-child(3){
    width: 5.125em;
    height: 5.125em;
    margin-right: 2em;
}
.SmallCard h6{
    font-size: 1.3125em;
    font-weight: 500;
    color: #202422;

}
.SmallCard p{
    color: #848885;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 0;
}