.SponsorenCard{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 1em;
    margin-left: 1.5em;
}
.SponsorenCard>img{
    margin-right: 1em;
    width: 18.4375em;
}
.cardContent{
    padding: 1em;
}
.cardContent img{
    margin-bottom: 1em;
}
.cardContent h3{
    font-size: 1.75em;
    font-weight: 700;
    
    margin-bottom: 1em;
}
.cardContent p{
    font-size: 1em;
    font-weight: 400;
line-height: 2em;
    margin-bottom: 0em;
    width: 100%;
    max-width: 17.4375em;
    
}
