.Suche{
    font-size: 1em;
}
.Suche> h1{
    font-size: 1.75em;
    font-weight: 700;
    color: #202422;
    margin: 2em 0 1.5em 0;
}
.header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.filter_by {
    display: flex;
    align-items: center;
    margin-left: 1.5em;
}
.filter_by p{
    margin-bottom: 0;
    font-size: 1em;
    color: #848885;
    font-weight: 500;
    margin-right: 1.5em;
}
.filter_by span{
    font-size: 1em;
    color: #C1C3C2;
    font-weight: 500;
    padding: 0 0.5em;
}
.filter_by .active{
    color: #0B3A4E;
}
.pageLinks{
    background-color: #ffffff;
    border-radius: 2em;
    padding: 0.5em 0.5em;
    margin-left: 1.5em;
}
.pageLinks span{
    color: #848885;
    font-size: 1em;
    font-weight: 500;
    padding:0  0.5em;
}
.changeLayoutBtn{
    background-color: #ffffff;
    width: 100%;
    max-width: 6em;
    margin-left: 1.5em;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2em;
    font-size: 1em;
}
.changeLayoutBtn button{
    border: none;
    background-color: #ffffff;
}
.changeLayoutBtn button img{
    width: 1.125em;
}

@media screen and (max-width: 1860px) {
    .Suche{
        font-size: 0.8em;
    }
  }
@media screen and (max-width: 1600px) {
    .Suche{
        font-size: 0.7em;
    }
  }
  @media screen and (max-width: 1400px) {
    .Suche{
        font-size: 0.55em;
    }
  }