html {
  /* scroll-behavior: smooth; */
  overscroll-behavior: inherit;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  background-color: #F4F5F4;
}
a{
  text-decoration: none !important;
}
h1{
  font-family: berline-demi-bold, sans-serif;
}

p {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 2em;
  color: #848885;
}

.ant-input-affix-wrapper{
  border: 2px solid #F4F5F4;
  padding: 0.7em 1em;
  border-radius: 0.9375em;
  width: 100%;
  max-width: 28.0625em;
}
.ant-input-affix-wrapper input{
  border: none;
  background-color: transparent;
  color: #848885;
  font-size: 1em;
  padding-left: 1em;
  margin-left: 1em;
  border-left: 2px solid #F4F5F4;
  outline: none;
  width: 89%;
}
.primaryBtn{
  background-color: #5DE68F;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  border: none;
  border-radius: 12px;
  padding: 0.5em 1em;
}
.ant-progress-bg{
  background-color: #5DE68F;
  border-radius: 4px;
}
.ant-progress-inner{
  background-color: #F4F5F4;
  border-radius: 4px;
}
.ant-progress-outer{
  width: 100%;
  max-width: 10.875em;
}
.active{
  background-color: #5DE68F !important;
  border-radius: 12px !important;
  color: #FFFFFF !important;
}
.active img{
  filter: invert(100%) sepia(0%) saturate(29%) hue-rotate(81deg) brightness(108%) contrast(105%) !important;
}
.content{
  width: calc(100% - 250px);
          overflow: auto;
          height: 100%;
}

@media screen and (max-width: 1000px) {
  .content{
    width: 100%;
  }
}

 @media (max-width: 768px) {
   p {
     font-size: 1.3em;
   }
   .ant-input-affix-wrapper{
     max-width: 100%;
   }
 }

/** Classes for the displayed toast **/
.Toastify__toast-body {
  font-family: 'Red Hat Display', sans-serif;
}

.Toastify__toast--default {
}
.Toastify__toast--info {
  background-color: #7EA7AE;
}
.Toastify__toast--success {
  background-color: #5DE68F;
}
.Toastify__toast--warning {
}
.Toastify__toast--error {
  background-color: #E65D5D;
}
